body, html {
    padding: 0px;
    margin: 0px;
    height: 100%;
}
.division1 {
    background-image: url("pexels-miguel-á-padriñán-255377.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.form1 {
    background-color: #4d4646;
    outline: 5px solid rgb(255, 0, 0);
    border-radius: 30px;
	opacity: 0.7;
	height: 80%;
	width: 40%;
    padding: 10px;
}
.heading {
    color: yellow;
    font-size: xxx-large;
    font-weight: bolder;
}
.heading1 {
    color: rgb(0, 255, 76);
    font-size: xx-large;
}
.heading2 {
    color: white;
    font-size: x-large;
    opacity: 1.0;
    text-decoration: none;
}
.heading2:hover {
    color: yellow;
    opacity: 1.0;
}